## Creation of the variables used in the classification

In [2]:
import pandas as pd

In [3]:
data_pan15_training = pd.read_csv('data\PAN_15_training.csv')

In [4]:
data_pan15_training

,Unnamed: 0,author,text,gender,age
0,0,02ae95de-7ee3-453a-978d-25d28b3f1a88,Things I want for my business cards but are to...,M,25-34
1,1,02ae95de-7ee3-453a-978d-25d28b3f1a88,"""painters produced their most highly valued wo...",M,25-34
2,2,02ae95de-7ee3-453a-978d-25d28b3f1a88,@username your new discussion layout is confus...,M,25-34
3,3,02ae95de-7ee3-453a-978d-25d28b3f1a88,I never really understood why game environment...,M,25-34
4,4,02ae95de-7ee3-453a-978d-25d28b3f1a88,"@username 20k and 2048² on a gun, fine. But th...",M,25-34
...,...,...,...,...,...
14161,14161,fde8eb00-0444-4159-9b65-1ead60c2dc88,Fifty Writing Tools: Quick List | Poynter. htt...,F,25-34
14162,14162,fde8eb00-0444-4159-9b65-1ead60c2dc88,Video: How To Make Vietnamese Coffee (by HighB...,F,25-34
14163,14163,fde8eb00-0444-4159-9b65-1ead60c2dc88,lyx is soooo awesome!!! finally figured out ho...,F,25-34
14164,14164,fde8eb00-0444-4159-9b65-1ead60c2dc88,Impact Algorithms: Strategies Remarkable Peopl...,F,25-34
14165,14165,fde8eb00-0444-4159-9b65-1ead60c2dc88,Why You're Tired - Causes of Fatigue http://tu...,F,25-34

## Creating feature functions

In [22]:
def character_count(text):
    return len(text)

def alphabetic_ratio(text):
    alphabetic = sum(c.isalpha() for c in text)
    return alphabetic/len(text)

def uppercase_ratio(text):
    upper = sum(c.isupper() for c in text)
    return upper/len(text)

def digit_ratio(text):
    digit = sum(c.isdigit() for c in text)
    return digit/len(text)

def whitespace_ratio(text):
    whitespace = sum(c.isspace() for c in text)
    return whitespace/len(text)

In [23]:
def extract_features(dataframe, text_column):
    features = pd.DataFrame()
    features['total_characters'] = dataframe[text_column].apply(character_count)
    features['ratio_alphabetic'] = dataframe[text_column].apply(alphabetic_ratio)
    features['ratio_uppercase'] = dataframe[text_column].apply(uppercase_ratio)
    features['ratio_digit'] = dataframe[text_column].apply(digit_ratio)
    features['ratio_whitespace'] = dataframe[text_column].apply(whitespace_ratio)
    


    return features

In [24]:
extract_features(data_pan15_training, 'text')

,total_characters,ratio_alphabetic,ratio_uppercase,ratio_digit,ratio_whitespace
0,140,0.750000,0.050000,0.021429,0.178571
1,141,0.680851,0.042553,0.063830,0.163121
2,142,0.781690,0.007042,0.021127,0.133803
3,142,0.774648,0.028169,0.021127,0.147887
4,123,0.699187,0.008130,0.056911,0.211382
...,...,...,...,...,...
14161,73,0.712329,0.082192,0.054795,0.123288
14162,78,0.730769,0.128205,0.038462,0.128205
14163,68,0.735294,0.000000,0.000000,0.191176
14164,124,0.790323,0.112903,0.024194,0.129032
14165,67,0.701493,0.074627,0.059701,0.134328

In [12]:
text = 'test + test'
print(c.isalpha() for c in text)

<generator object <genexpr> at 0x000002249EE0B040>